<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.untitled">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application>
        <receiver android:name=".NotificationReceiver">
            <intent-filter >
                <action android:name="PACKAGE_NAME.android.action.broadcast"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
